{% extends 'DdrSymfonyS3ExampleBundle::base.html.twig' %}
{% block title %}{{ bucketName }} - Upload{% endblock title %}
{% block main %}
    <div class="page-header">
        <h1>{{ bucketName }} - Upload</h1>
    </div>
    {{ form(form) }}
{% endblock main %}
